<div class="apartments-container">
    <h1>Liste des appartements</h1>
  
    <!-- Affichage des appartements -->
    <div *ngFor="let apartment of getApartments()">
      <div class="apartment-card">
        <h2>Appartement {{ apartment.apartNum }}</h2>
        <p>Étage : {{ apartment.floorNum }}</p>
        <p>Surface : {{ apartment.surface }} m²</p>
        <p>Terrasse : {{ apartment.terrace ? 'Oui' : 'Non' }}</p>
        <p>Surface terrasse : {{ apartment.surfaceterrace }} m²</p>
        <p>Catégorie : {{ apartment.category }}</p>
      </div>
    </div>
  </div>
  